{% extends "_master.html.j2" %}

{% block maincontent %}
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-3">
                <div class="d-flex align-items-center mt-lg-5 mb-4">
                    <img class="img-fluid rounded-circle" src="{{ model.contact.image }}" alt="{{ model.contact.imagealt }}" />
                    <div class="ms-3">
                        <div class="fw-bold">{{ model.contact.name }}</div>                        
                        <div class="text-muted"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <!-- Post content-->
                <article>
                    <!-- Post header-->
                    <header class="mb-4">
                        <!-- Post title-->
                        <h1 class="fw-bolder mb-1">{{ model.heading }}</h1>
                        <!-- Post meta content-->
                        <div class="text-muted fst-italic mb-2">{{ model.published }}</div>
                        <!-- Post categories-->
                        {% for tag in model.tags %}
                        <a class="badge bg-secondary text-decoration-none link-light" href="#!">{{ tag }}</a>
                        {% endfor %}
                    </header>
                    <!-- Preview image figure-->
                    <figure class="mb-4">
                        <img class="img-fluid rounded" src="{{ model.image }}" alt="{{ model.imagealt }}" />
                    </figure>
                    <!-- Post content-->
                    <section class="mb-5">
                        {{ model.mainbody }}
                    </section>
                </article>
            </div>
        </div>
    </div>
</section>
{% endblock %}